<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
    <form>
        <div>개인 정보</div>
        아이디: <input type="text" name="id"><br>
        비밀번호: <input type="text" name="pw"><br>
        이름: <input type="text" name="name"><br>
        나이: <input type="text" name="age"><br>
        프로필 사진: <input type="file" name="userfile" id="dynamic_file"><br>
        <button type="reset">리셋</button>
        <button type="button" onclick="fileUpload()">회원가입</button>
    </form>
    <div class="div"></div>
    <script>
        function fileUpload() {
            const inputId = $("input[name=id]").val();
            const formData = new FormData();
            const file = document.getElementById("dynamic_file")

            formData.append("id", inputId)
            formData.append("userfile", file.files[0])
            
            axios({
                headers: {
                    "Content-Type":"multipart/form-data",
                },
                url: "/upload",
                method: "POST",
                data:formData
            }).then((response) => {
                $(".div").html(response.data)
            })
        }
    </script>
</body>
</html>