<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function add( n1, n2){
            return new Promise(function(resolve, reject) {
                setTimeout(function(){
                var result = n1 + n2;
                resolve(result);
            }, 1000)
            })
        }
            function mul( num){
                return new Promise(function(resolve, reject) {
                    setTimeout(function(){
                var result = num*3;
                resolve(result);
            }, 700);
                })
            }
            function sub(num){
                return new Promise(function(resolve, reject) {
                    setTimeout(function(){
                var result = num-2;
                resolve(result);
            }, 500);
                })
            }
            add(3, 2).then((result) => {
                console.log("1 : ", result);
                return mul(result);
            }).then((result2) => {
                console.log("2 : ", result2);
                return sub(result2);
            }).then((result3 => {
                console.log("3 : ", result3);
            }))
    </script>
</body>
</html>