<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .navbar {
            background-color: green;
            color: white;
            font-size: large;
            font-weight: bold;
            text-align: center;
            padding: 20px;
        }
        .imgs {
            display: flex;
            justify-content: space-evenly;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="navbar">여름 과일가게</div>
   <div class="imgs">
    <a href="watermelon"><img width="200" height="200" src="/static/img/watermelon.webp"></a>
    <img width="200" height="200" src="/static//img/peach.jpeg">
    <img width="200" height="200" src="/static/img/grape.jpeg">
</div>
</body>
</html>